services:
  backend:
    build: ./server
    container_name: lmsbackend
    restart: always
    env_file:
      - ./server/.env
    ports:
    - "8000:8000"

  frontend:
    build: ./client
    container_name: lmsfrontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
